
.common_section_title{
    font-weight: 600;
    font-size: 36px;
}
*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    max-width: 1280px;
    margin:  auto;
}
.panda_btn {
border-radius: 6px;

/* Linear */
background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
padding: 15px 35px;
border: none;
color: white;
font-weight: 500;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.search_parent{
position: relative;
color: #BABABA;

}
.search_parent input{
    background-color: rgb(241, 241, 241);
    border-radius: 66px;
    padding: 15px 30px;
    width: 500px;
    border: none;
}
.search_parent i {
      position: absolute; 
      right: 20px;
      top: 14px;
}
.nav_items{
    display: flex;
    list-style: none;
    gap: 10px;
}
.nav_items li a {
    text-decoration: none;
    color: #707070;
    font-weight: 600;
    font-size: 16px;
}
/* Banner */
.banner{
    background-color: #FEEAE9;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    padding: 28px;
    border-radius: 10px;
    margin-top: 25px;
}
.banner img{
    width: 402px;
    height: 378px;
}
.banner h2 {
    color: rgb(31, 31, 31);
font-size: 52px;
font-weight: bold;
}
.banner p{
    color: #4E4E4E;   
    width: 400px; 
}
   
.banner_price{
    color: #FF136F;
    font-weight: 500;
    font-size: 41px;
    display: block;
    margin-bottom: 0;
}
/* categories_card */
.categories_card{
    background: linear-gradient(151.85deg, rgb(255, 156, 53) 14.537%,rgb(255, 208, 25) 84.486%);
display: flex;
justify-content: space-between;
gap: 4px;
align-items: center;
padding: 20px;
flex: 1;
}
.categories_card h3{
    color: white;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
}
.div_1{
    /* Linear */
background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
}
.div_2{
    background: linear-gradient(170.38deg, rgb(66, 137, 255) 15.416%,rgb(63, 7, 248) 74.29%);
}
.categories_card_container{
    display: flex;
    justify-content: space-between;
    gap: 15px;

}
.Categories{
    margin: 64px 0;
}